.charch_paragraph{
	text-align: justify;
	text-indent: 2em;
	-webkit-font-smoothing: subpixel-antialiased !important;
/*	font: normal 16px/1.70 "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
	color: #444;
	margin-left: 4px;
	margin-right: 16px;*/
}

.charch_span{
	text-align: justify;
	word-break: break-word;
	white-space: pre-line;
}

.charch_letter_span{
	vertical-align: baseline;
}
