body{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 300%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

.sample_post{
	display: inline-block;
	max-width: 500px;
	margin: 10px 10px;
	padding: 3px;
	border: 1px solid;
	vertical-align: top;
}